Source: ros-melodic-novatel-oem7-driver
Section: misc
Priority: optional
Maintainer: NovAtel Support <support.novatel@hexagon.com>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, ros-melodic-catkin, ros-melodic-gps-common, ros-melodic-nav-msgs, ros-melodic-nmea-msgs, ros-melodic-nodelet, ros-melodic-novatel-oem7-msgs, ros-melodic-rosbag <!nocheck>, ros-melodic-roscpp, ros-melodic-rostest <!nocheck>, ros-melodic-sensor-msgs, ros-melodic-tf2-geometry-msgs
Homepage: http://www.novatel.com
Standards-Version: 3.9.2

Package: ros-melodic-novatel-oem7-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-melodic-gps-common, ros-melodic-nav-msgs, ros-melodic-nmea-msgs, ros-melodic-nodelet, ros-melodic-novatel-oem7-msgs, ros-melodic-roscpp, ros-melodic-sensor-msgs, ros-melodic-tf2-geometry-msgs
Description: NovAtel Oem7 ROS Driver
